@import './mixin';

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0.5rem;
}

.ant-layout-sider {
    flex: 0 0 300px ;
    max-width: 300px ;
    min-width: 300px ;
    width: 300px ;

    &-trigger {
        width: 300px ;
    }
}
